@model ContentAreaBlock

<section>
    <div class="container">
        @if (Model.Heading != null)
        {
            <h2 @Html.EditAttributes(m => m.Heading)>
                @Html.DisplayFor(m => m.Heading)
            </h2>
        }
        <div class="row" @Html.EditAttributes(m => m.ContentArea)>
            @Html.DisplayFor(m => m.ContentArea)
        </div>
    </div>
</section>